body {
    background-image: linear-gradient(#3b1566, #5f4da8);
    height: 100dvh;
    color: #d6d6ea;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
